.editTaskModal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
}

.editTaskModalHidden{
    transform: scale(0);
}

.editTaskModalContent{
    height: 20em;
    width: 60%;
    background-color: white;
    color: black;
    display: inline;
    overflow: hidden;
    padding: 30px;
}

.modalButtons input{
    background-color: lavender;
    border-style: none;
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
    margin-top: 20px;
}

.inputTitle{
    border-style: none;
    width: 100%;
}