.appWrapper{
    height: 100%;
    display: inline;
}

.lists{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 40px;
    gap: 50px;
    margin-bottom: 100px;
    text-align: center;
}

.searchDiv{
    margin-top: 20px;
}

/*.moveClass{
    margin-left: 400px;
}*/