.editHabitModal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
}

.editHabitModalHidden{
    transform: scale(0);
}

.editHabitModalContent{
    height: 20em;
    width: 80%;
    background-color: white;
    color: black;
    display: inline;
    overflow: hidden;
}