.taskItem{
    display: flex;
    gap: 20px;
    width: 100%;
    /*border: 1px solid black;*/
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    align-items: center;
}

.taskItem:hover{
    background-color: #f3f3f3;
    cursor: pointer;
}

.showTodo_text{
    display: flex;
    gap: 15px;
    width: fit-content;
    font-size: 18px;
    align-items: center;
}

.todoButtons{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.todoButtons button{
    background-color: #ffeecc;
}

.editTask{
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    font-size: 17px;
    
}

.editTaskInput1 input{
    width: 210px;
    border-radius: 4px;
    padding: 3px 10px;
    border-style: none;
    box-shadow: 0 1px 3px 0 rgba(26,24,29,.12),0 1px 2px 0 rgba(26,24,29,.24);
}

.editTaskInput1 input:hover{
    background-color: #f5f5f5;
}

.editTaskInput2 input{
    width: 90px;
    border-radius: 4px;
    padding: 3px 10px;
    border-style: none;
    box-shadow: 0 1px 3px 0 rgba(26,24,29,.12),0 1px 2px 0 rgba(26,24,29,.24);
}

.editTaskInput2 input:hover{
    background-color: #f5f5f5;
}

.editTaskBtn{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.editTaskBtn button{
    padding: 6px 10px;
    background-color: #ffeecc;
}

.editTaskInputs{
    display: flex;
    gap: 10px;
}