.taskItem{
    display: flex;
    gap: 20px;
    width: 100%;
    /*border: 1px solid black;*/
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    align-items: center;
}

.showTodo_text{
    display: flex;
    gap: 15px;
    width: fit-content;
    font-size: 18px;
    align-items: center;
}

.todoButtons{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 10px;
}