.taskItem{
    display: flex;
    gap: 20px;
    width: 100%;
    /*border: 1px solid black;*/
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    align-items: center;
}

.taskItem:hover{
    background-color: bisque;
}

.showTodo_text{
    display: flex;
    gap: 15px;
    width: fit-content;
    font-size: 18px;
    align-items: center;
}

.todoButtons{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.editTodo{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.editTodoInputs{
    display: flex;
    width: 100%;
    gap: 8px;
    height: 40px;
    
}

.editTodoInputs input{
    width: 141px;
    border-radius: 5px;
    border-style: none;
    background-color: #f9f9eb;
    padding-left: 5px;
}

.editTodoButtons{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.input2{
    width: 50px;
}